﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebClientItik._Default" %>

<asp:Content ID="BodyContent"  ContentPlaceHolderID="MainContent" runat="server" >
    
    <p>
        &nbsp;</p>
    <div aria-orientation="horizontal"   font-style: normal; text-transform: uppercase; color: #000000;">
        
      <center> <asp:Label ID="Label8" runat="server" Text="Selamat Datang di Maskapai Penerbangan Itik Air" ValidateRequestMode="Disabled" Font-Italic="False" Font-Bold="True" Font-Names="Adobe Gothic Std B" Font-Size="15pt" Font-Strikeout="False" ForeColor="Black" Font-Overline="False"></asp:Label></center>

        <br />

    </div>
    <br />
    <br />
    <p>
        <asp:Label ID="Label1" runat="server" Text="Nama Penumpang" Font-Bold="True" Font-Names="Arial Black"></asp:Label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox1" runat="server" Width="180px" BorderColor="Black"></asp:TextBox>
    </p>
    <p>
        <asp:Label ID="Label2" runat="server" Text="Email" Font-Bold="True" Font-Names="Arial Black"></asp:Label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;

        <asp:TextBox ID="TextBox10" runat="server" Width="180px" BorderColor="Black"></asp:TextBox>
            
    <p>
        <asp:Label ID="Label3" runat="server" Text="No HP" Font-Bold="True"  Font-Names="Arial Black"></asp:Label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        <asp:TextBox ID="TextBox5" runat="server" Width="179px" BorderColor="Black"></asp:TextBox>
    </p>
    <p>
        <asp:Label ID="Label4" runat="server" Text="Kota Asal" Font-Bold="True"  Font-Names="Arial Black"></asp:Label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        <asp:TextBox ID="TextBox6" runat="server" Width="181px" BorderColor="Black"></asp:TextBox>
    </p>

    <p>
        <asp:Label ID="Label5" runat="server" Text="Kota Tujuan" Font-Bold="True"  Font-Names="Arial Black"></asp:Label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        <asp:TextBox ID="TextBox7" runat="server" Width="183px" BorderColor="Black"></asp:TextBox>
    </p>
    
 
    
    <p>
        <asp:Label ID="Label6" runat="server" Text="Tanggal Berangkat" Font-Bold="True"  Font-Names="Arial Black"></asp:Label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        <asp:TextBox ID="TextBox8" runat="server" Width="185px" BorderColor="Black"></asp:TextBox>
    </p>

    <p>
        <asp:Label ID="Label7" runat="server" Text="Kelas" Font-Bold="True"  Font-Names="Arial Black"></asp:Label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:TextBox ID="TextBox9" runat="server" Width="184px" BorderColor="Black"></asp:TextBox>
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Kirim" BackColor="#FF6600" BorderColor="White"  Font-Names="Arial Black" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<asp:Label ID="lmsg" runat="server" Font-Italic="True" ForeColor="Red"></asp:Label>
    </p>
<p>
        &nbsp;</p>
<p>
        <asp:Button ID="Button2" runat="server" BackColor="#FF6600" BorderColor="White" Font-Names="Arial Black" OnClick="Button2_Click" Text="Lihat Data" Width="106px" />
    </p>
    <p>
        <asp:GridView ID="GridView1" runat="server" BorderColor="Black" Font-Names="Arial">
        </asp:GridView>
    </p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    


    




</asp:Content>

