﻿@model Travelancar_Kel09.Models.ModelPesawat

@{
    ViewBag.Title = "CreatePesanan";
}

<h4><b>Form Pemesanan Pesawat</b></h4>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Id)
        @Html.EditorFor(m => m.Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Nama)
        @Html.EditorFor(m => m.Nama)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.No_Hp)
        @Html.EditorFor(m => m.No_Hp)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Asal)
        @Html.EditorFor(m => m.Asal)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tujuan)
        @Html.EditorFor(m => m.Tujuan)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tgl_Berangkat)
        @Html.EditorFor(m => m.Tgl_Berangkat)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Kelas)
        @Html.EditorFor(m => m.Kelas)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Nama_Maskapai)
        @Html.EditorFor(m => m.Nama_Maskapai)
    </div>

    <br />

    <button type="submit">Pesan</button>
}

