﻿@model Travelancar_Kel09.Models.ModelPesawat

@{
    ViewBag.Title = "DetailPesanan";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailPesanan</title>
</head>
<body>
    <h4><b>Terimakasih sdri/a, @Model.Nama</b></h4>
    <br /> 
    <div>
        <label>Id   : </label>
        @Html.DisplayFor(m => m.Id)
    </div>
    <div>
        <label>Nama   : </label>
        @Html.DisplayFor(m => m.Nama)
    </div>
    <div>
        <label>Email  : </label>
        @Html.DisplayFor(m => m.Email)
    </div>
    <div>
        <label>No.Hp   : </label>
        @Html.DisplayFor(m => m.No_Hp)
    </div>
    <div>
        <label>Asal   : </label>
        @Html.DisplayFor(m => m.Asal)
    </div>
    <div>
        <label>Tujuan   : </label>
        @Html.DisplayFor(m => m.Tujuan)
    </div>
    <div>
        <label>Tanggal Keberangkatan   : </label>
        @Html.DisplayFor(m => m.Tgl_Berangkat)
    </div>
    <div>
        <label>Kelas   : </label>
        @Html.DisplayFor(m => m.Kelas)
    </div>
    <div>
        <label>Nama Maskapai   : </label>
        @Html.DisplayFor(m => m.Nama_Maskapai)
    </div>
    <br />
    <div>Silahkan lakukan @Html.ActionLink("Pembayaran", "Bank")</div>
</body>
</html>




