﻿.bg {
    background-image: url('../img/gbr1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height:100vh;
}
.conntainer-form {
    border: 1px solid #ffffff;
    margin-top: 20vh;
    padding: 30px 40px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 70px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 70px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 70px 0px rgba(255,255,255,1);
}
