﻿@model Travelancar_Kel09.Models.ModelHotel

@{
    ViewBag.Title = "Booking";
}

<h3><b>Form Booking Hotel</b></h3>
<br />
@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(m => m.No_Kamar)
        @Html.EditorFor(m => m.No_Kamar)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Nama)
        @Html.EditorFor(m => m.Nama)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Alamat)
        @Html.EditorFor(m => m.Alamat)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NoHp)
        @Html.EditorFor(m => m.NoHp)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CheckIn)
        @Html.EditorFor(m => m.CheckIn)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CheckOut)
        @Html.EditorFor(m => m.CheckOut)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tgl_Booking)
        @Html.EditorFor(m => m.Tgl_Booking)
    </div>

    <br />

    <button type="submit">Booking</button>

}



