﻿@model Travelancar_Kel09.Models.ModelHotel

@{
    ViewBag.Title = "DetailHotel";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailPesanan</title>
</head>
<body>
    <h4><b>Terimakasih sdri/a, @Model.Nama</b></h4>
    <br />
    <div>
        <label>No Kamar   : </label>
        @Html.DisplayFor(m => m.No_Kamar)
    </div>
    <div>
        <label>Nama   : </label>
        @Html.DisplayFor(m => m.Nama)
    </div>
    <div>
        <label>Alamat  : </label>
        @Html.DisplayFor(m => m.Alamat)
    </div>
    <div>
        <label>Email   : </label>
        @Html.DisplayFor(m => m.Email)
    </div>
    <div>
        <label>No Hp   : </label>
        @Html.DisplayFor(m => m.NoHp)
    </div>
    <div>
        <label>CheckIn   : </label>
        @Html.DisplayFor(m => m.CheckIn)
    </div>
    <div>
        <label>ChekOut   : </label>
        @Html.DisplayFor(m => m.CheckOut)
    </div>
    <div>
        <label>Tanggal Booking   : </label>
        @Html.DisplayFor(m => m.Tgl_Booking)
    </div>
    <br />
    <div>Silahkan lakukan @Html.ActionLink("Pembayaran", "Bank")</div>
</body>
</html>






