﻿
@{
    ViewBag.Title = "ItikAir";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PuyuhAir</title>
</head>
<body>
    <div><h4>Jadwal Penerbangan Maskapai Itik Air</h4></div>

    @using (Html.BeginForm("Search", "ItikAir"))
    {

        <div>
            <table>
                <tr>
                    <td>Tipe Pencarian</td>
                    <td>
                        <input type="radio" name="TypeCollection" value="ID" />ID
                        <input type="radio" name="TypeCollection" value="Asal" />Asal
                    </td>

                </tr>
                <tr>
                    <td><br /></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="Searchvalue" value="" />
                    </td>
                    <td colspan="2">
                        <input type="submit" name="SearchButton" value="Search" />
                    </td>
                </tr> 
            </table>
        </div>
    }
    <br />

    <div>
        <table cellpadding="3" cellspacing="5" class="table table-bordered table-striped table-hover">

            <tr class="danger">
                <th>Id</th>
                <th>Asal</th>
                <th>Tujuan</th>
                <th>Berangkat</th>
                <th>Tiba</th>
                <th>Tanggal</th>
                <th>Harga</th>
            </tr>

            @foreach (var lstObj in ViewBag.lstDetails)
            {
                <tr>
                    <td>@lstObj.Id</td>
                    <td>@lstObj.Asal</td>
                    <td>@lstObj.Tujuan</td>
                    <td>@lstObj.Waktu_Keberangkatan</td>
                    <td>@lstObj.Waktu_Sampai</td>
                    <td>@lstObj.Tanggal_Keberangkatan</td>
                    <td>@lstObj.Harga</td>
                </tr>
            }

        </table>
    </div>
    <br />
    <div class="btn btn-default btn-lg" style="text-decoration-color:beige">@Html.ActionLink("Kembali", "Index", "Home")</div>

</body>
</html>



