﻿
@{
    ViewBag.Title = "KasurEmpuk";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PuyuhAir</title>
</head>
<body>
    <div><h4>Jadwal Penerbangan Hotel Kasur Empuk</h4></div>

    @using (Html.BeginForm("Search", "KasurEmpuk"))
    {

        <div>
            <table>
                <tr>
                    <td>Tipe Pencarian</td>
                    <td> 
                        <input type="radio" name="TypeCollection" value="ID" />ID
                        <input type="radio" name="TypeCollection" value="NamaKota" />Nama Kota
                    </td>

                </tr>
                <tr>
                    <td><br /></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="Searchvalue" value="" />
                    </td>
                    <td colspan="2">
                        <input type="submit" name="SearchButton" value="Search" />
                    </td>
                </tr>
            </table>
        </div>
    }
    <br />

    <div>
        <table cellpadding="3" cellspacing="5" class="table table-bordered table-striped table-hover">

            <tr class="danger">
                <th>Id</th>
                <th>Nama Kota</th>
                <th>Room</th>
                <th>Harga</th>
            </tr>

            @foreach (var lstObj in ViewBag.lstHotel)
            {
                <tr>
                    <td>@lstObj.Id</td>
                    <td>@lstObj.Nama_Kota</td>
                    <td>@lstObj.Room</td>
                    <td>@lstObj.Harga</td>
                </tr>
            }

        </table>
    </div>
    <br />
    <div class="btn btn-default btn-lg" style="text-decoration-color:beige">@Html.ActionLink("Kembali", "Index", "Home")</div>

</body>
</html>





