﻿
@{
    ViewBag.Title = "Hotel";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hotel</title>
</head>
<body>
    <br />
    <h4><b>Selamat Datang di Hotel Travelancar</b></h4>
    <br />
    <div class="btn btn-default btn-lg" style="text-decoration-color:beige">@Html.ActionLink("Pesan Sekarang", "Booking", "PesanHotel")</div>
    <br />
    <br />
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <img src="~/Additional-file/img/empuk.jpg" />
            <div class="caption">
                <h4>@Html.ActionLink("Hotel Kasur Empuk", "KasurEmpuk", "KasurEmpuk")</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <img src="~/Additional-file/img/mawar.jpg" id="img3" />
            <div class="caption">
                <h4>@Html.ActionLink("Hotel Mawar Melati", "MawarMelati", "MawarMelati")</h4>
            </div>
        </div>
    </div>

</body>
</html>

