﻿
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
     
        .konten {
            height: 400px;
        }

        .sidebar {
            height: 400px;
        }
    </style>
</head>
<body>
    <h3 class="text-center"><b>Selamat Datang di Travelancar.com</b></h3>
    <br /> 
    <div class="col-md-9 col-xs-12 konten">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- deklarasi carousel -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Additional-file/img/gbr2.jpg">

                </div>
                <div class="item">
                    <img src="~/Additional-file/img/gbr3.jpg">

                </div>
                <div class="item">
                    <img src="~/Additional-file/img/gbr4.jpg">

                </div>
            </div>

            <!-- membuat panah next dan previous -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-md-3 col-xs-12 sidebar">
        <p>Lakukan Pemesanan</p>
        <ul>
            <li>@Html.ActionLink("Tiket Pesawat", "Pesawat")</li>
            <li>@Html.ActionLink("Booking Hotel", "Hotel")</li>
        </ul>
    </div>
</body>
</html>

