﻿
@{
    ViewBag.Title = "Pesawat";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Pesawat</title>
</head>
<body> 
    <br />
    <h4><b>Selamat Datang di Penerbangan Travelancar</b></h4>
    <br />
    <div class="btn btn-default btn-lg" style="text-decoration-color:beige">@Html.ActionLink("Pesan Sekarang", "CreatePesanan", "PesanPesawat")</div>
    <br />
    <br />
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Additional-file/img/puyuh.jpg" />
            <div class="caption">
                <h4>@Html.ActionLink("Maskapai Puyuh Air", "PuyuhAir", "PuyuhAir")</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Additional-file/img/itik.jpg" id="img3" />
            <div class="caption">
                <h4>@Html.ActionLink("Maskapai Itik Air", "ItikAir", "ItikAir")</h4>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Additional-file/img/piguin.jpg" id="img2" />
            <div class="caption">
                <h4>@Html.ActionLink("Maskapai Penguin Air", "PinguinAir", "PinguinAir")</h4>
            </div>
        </div>
    </div>

</body>
</html>